.config
.dockerignore
.github
.gitignore
.idea
.vscode
.zed
/assets
/core/certs
/helm
/licenses
/local_data
/performance_results
/scripts
**/target
/target
!/target/debug/iggy
!/target/debug/iggy-server
!/target/debug/iggy-mcp
!/target/debug/iggy-connectors
/web
