target*
.idea/
.vscode/
.vs/
.zed/
.DS_Store
.gradle
local_data*
local_state*
/bench_*
/sdk/errors_table/
/rust-clippy-results.sarif
/performance_results*
.env
.envrc
/iggy_release
/iggy_release_tmp
/**/obj
/**/bin
!/foreign/python/src/bin
*.iml
foreign/cpp/build
foreign/java/**/build
foreign/java/**/out
foreign/node/**/node_modules
foreign/node/**/dist
foreign/node/npm-debug.log*
foreign/node/.npm
/**/*.DotSettings.user
*.exe
*.exe~
*.dll
*.so
*.dylib
*.lai
*.la
*.a
*.lib
*.out
go.work
core/bench/dashboard/frontend/dist
